.homepage-component-2 {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  background-color: #fff;
}

.image-container {
  flex: 1;
  margin-left: 10px;
  margin-right: -300px;
}

.image {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.content-container {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.iconic {
  width: 60px;
  height: 60px;
}

.icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: normal;
}

p {
  font-size: 1rem;
  color: #666;
}
